# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# Create: touch .gitignore
# Remove already check in files: git rm --cached FILENAME
# If you want to store the list of ignored files outside of your Git tree, you can use the .git/info/exclude

C++/**
!C++/**.*

**.DS_Store
**.Rhistory
**.pdf